<div>
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bg-success text-white">
          <h5 class="modal-title" id="successModalLabel">Success</h5>
          <i class="bi bi-check-circle"></i>
          <button type="button" class="btn-close"  aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <h4>Great!</h4>
          <p>Your message has been sent successfully.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Close</button>
        </div>
      </div>
    </div>
  </div>