<div class="page-section">
    <div class="container">
      <h1 class="text-center mb-5 wow fadeInUp">Our Hospitals</h1>
      <div id="hospitalCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000">
        <div class="carousel-inner">
          <!-- Loop through hospital chunks -->
          <div
            class="carousel-item"
            *ngFor="let chunk of chunkedHospitals; let i = index"
            [class.active]="i === 0"
          >
            <div class="row d-flex justify-content-center">
              <!-- Loop through hospitals within each chunk -->
              <div *ngFor="let hospital of chunk" class="col-md-4">
                <div class="card-hospital mx-auto text-center">
                  <div class="header">
                    <img [src]="hospital.image" alt="Hospital Image" class="img-fluid rounded mb-3" >
                  </div>
                  <div class="body text-center">
                    <h5 class="mb-2">{{ hospital.name }}</h5>
                    <p class="text-muted mb-3">{{ hospital.about }}</p>
                    <a
                      [href]="hospital.whatsappLink"
                      target="_blank"
                      class="btn btn-outline-success"
                      title="Contact on WhatsApp"
                    >
                      <i class="bi bi-whatsapp"></i> Contact
                    </a>
                  </div>
                  <br>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Carousel controls -->
        <button class="carousel-control-prev" type="button" data-bs-target="#hospitalCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#hospitalCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <br>
  </div>
  