<div  id='home' class="page-section pb-0">
    <div class="container">
      <div class="row align-items-center">
        <!-- Welcome Section -->
        <div class="col-lg-8 py-3 wow fadeInUp">
          <app-slides></app-slides>
        </div>
  
        <!-- Appointment Form -->
        <div class="col-lg-4 py-3"> 
          <app-form></app-form> 
          
            <!-- <div class="border p-4" style="background-color: #fdfdfd; border-radius: 8px; border-color: #fdfdfd;">
              <h1 class="text-center mb-4">Get Quote</h1>
              <app-form></app-form> --> 
              <!-- <form class="main-form">
                <div class="row">
                  
                  <div class="col-12 py-2">
                    <input type="text" class="form-control" id="name" placeholder="Full Name" required>
                  </div>
          
                  
                  <div class="col-12 py-2">
                    <input type="email" class="form-control" id="email" placeholder="Email Address" required>
                  </div>
          
                  
                  <div class="col-12 py-2">
                    <div class="input-group">
                      <select class="form-select" id="countryCode" style="max-width: 100px;" required>
                        <option value="+91">+91 (IN)</option>
                        <option value="+1">+1 (US)</option>
                        <option value="+44">+44 (UK)</option>
                        <option value="+971">+971 (UAE)</option>
                        <option value="+61">+61 (AU)</option>
                      </select>
                      <input type="tel" class="form-control" id="mobile" placeholder="Mobile Number" required>
                    </div>
                  </div>
          
                  
                  <div class="col-12 py-2">
                    <select name="country" id="country" class="form-select" required>
                      <option value="" disabled selected>Country</option>
                      <option value="saudi">Saudi Arabia</option>
                      <option value="india">India</option>
                      <option value="spain">Spain</option>
                      <option value="portugal">Portugal</option>
                    </select>
                  </div>
          
                  
                  <div class="col-12 py-2">
                    <input type="number" class="form-control" id="age" placeholder="Age" required>
                  </div>
          
                  
                  <div class="col-12 py-2">
                    <textarea
                      name="message"
                      id="message"
                      class="form-control"
                      rows="4"
                      placeholder="Describe your medical issue"
                      required
                    ></textarea>
                  </div>
                </div>
          
                
                <button type="submit" class="btn btn-danger d-grid col-6 mx-auto mt-3">
                  Get FREE Quote
                </button>
              </form> -->
             <!-- </div> -->
          </div> 
          
      </div>
    </div>
  </div>
  <br>
  <div id="about">
    <app-about-us></app-about-us>
  </div>
  <br>
  <div id="hospitals">
    <app-hospitals></app-hospitals>
  </div>
  <br>
  <div id="doctors">
    <app-doctors></app-doctors>
  </div>
  <div id="testimonials">
    <app-testimonials></app-testimonials>
  </div>
  <div id="blogs">
    <app-blogs></app-blogs>
  </div>
  
  


  
  
  
  
  
  
  
  